/* =================================
            Body
================================= */

body {
    background-image: url(../img/bg.png);
}

.contentHolder {
    min-height: calc(100vh - 251px);
}

/* =================================
            NavBar
================================= */

.navbar {
    background-color: #525252;
    color: #fff;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #F66363;
}

.navbar-nav .active {
    color: #F66363;
}

.logo img {
    padding: 5px 15px;
    height: 60px;
}

/* =================================
        Title & Search
================================= */

.titleDiv,
#searchBox,
.results {
    background-image: url(../img/banner.png);
    margin: 50px 0;
    padding: 35px;
    border: 5px solid #525252;
    border-radius: 8px;
}

#searchBox,
.results {
    margin: 0;
    margin-bottom: 50px;
    padding: 35px 50px;
    text-align: center;
}

#searchBox form,
#searchBox .form-inline,
#searchBox .form-group {
    width: 100%;
}

#bookName {
    width: 80%;
    margin: 25px auto;
} 

#bookSearchButton {
    margin: auto;
}

/* =================================
            Buttons
================================= */

.saveBook,
.deleteBook {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-danger {
    background-color: #F66363;
}

/* =================================
            Results
================================= */

#results {
    border: 5px solid #525252;
    border-radius: 8px;
    margin-bottom: 50px;
}

#results a {
    color: #000;
}

#results a:hover {
    color: #F66363;
    text-decoration: none;
}

#results,
#results li {
    background-image: url(../img/banner.png);
}

#noResults {
    padding: 50px 0;
    text-align: center;
}

#results li img {
    float: left;
    width: 128px;
    margin: 5px 15px 15px 0;
}

.title {
    max-width: calc(100% - 70px);
}

.subtitle {
    font-style: italic;
}

#results span {
    font-style: italic;
    color: #F66363;
    font-weight: bold;
}

/* =================================
            Footer
================================= */

footer {
    width: 100%;
    height: 75px;
    background-color: #525252;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
}

footer a {
    color: #F66363;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}